@font-face {
  font-family: 'Avenir';
  src: url('../../../../assets/fonts/Avenir-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
.footer {
  background-color:rgba(253, 209, 142, 0.5);
  position: relative;
}

.footer-absolute{
  background-color:rgba(253, 209, 142, 0.5);
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.footer-container {
    display: flex;
    width: 50%;
    margin: 0 25% 0 25%;
    flex-wrap: wrap;
}
.copyright {
    margin: 0;
    font-weight: 800;
    font-family: 'Avenir', sans-serif;
    text-align: center;
    font-size: 14px;
    margin-bottom: 2.5%;
    padding-top: 20px;
  }
.footer-frond {
  position: absolute;
  width: 28%;
  left: 0;
  bottom: 5%;
  mix-blend-mode: multiply;
}
.footer-drum {
  position: absolute;
  width: 12%;
  right: 10%;
  bottom: 0;
}
  @media (max-width: 393px) {
   .copyright {
    font-size: 10px;
   }
  }
  