html {
    margin: 0;
    padding: 0;
    font-family: "Avenir", sans-serif;
    background-color: #fbf4eb;
  }
  
  .page-main {
    height: 100%;
    padding: 24px;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .title {
    text-align: center;
    margin: 24px 0;
    font-weight: bold;
    font-size: 34px;
  }
  
  .woocommerce-billing-fields h3,
  .woocommerce-additional-fields h3 {
    font-size: 24px;
    color: #514026;
    font-weight: 800;
    margin-bottom: 15px;
  }
  
  .form-row {
    margin-bottom: 20px;
  }
  
  .form-row label {
    display: block;
    color: #514026;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .input-text {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .main-page-wrapper {
    width: 50%;
    background-color: rgba(253, 209, 142, 0.5);
    padding: 40px 20px;
    margin: 0px 40px;
    height: 100%;
  }
  
  .bill-page-wrapper {
    width: 50%;
    background-color: rgba(255, 242, 222, 0.5);
    padding: 40px 20px;
    margin: 0px 40px;
    height: 100%;
  }
  