.special-thanks {
    font-family: "Grandstander";
    background-color: rgba(253, 209, 142, 0.5);
}

.special-thanks-note {
    text-align: center;
    font-family: 400;
    font-size: 28px;
}
.thanks {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px; 
    margin: 0 auto;
  }
  
  .thank {
    flex: 1 1 50%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    padding: 16px;
    text-align: center;
    justify-content: center;
    border: 2px solid #cccccc;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


  .ticket-image {
    max-width: 100%;
    height: auto;
    border: 2px solid #000;
    border-radius: 8px;
    margin-bottom: 8px;
  }

  /* .ticket-status {

  }

  .ticket-price {

  } */

  
  @media (max-width: 393px) {
    .thanks {
      flex-direction: column;
      gap: 12px;
    }
    .thank {
      flex: 1 1 100%;
    }
  }
  
  