@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x:hidden; 
    background-color: #E5E5E5;
}

/* #inner-container{
    color: #111111;
    width: 80vw;
    height: 80vh;
    max-width: 1100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid green;

} */

