@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat&display=swap');

#navbar-container{
    height: 100px;
    width: 100vw;
    display: flex;
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    background-color: white;
    align-items: center;
    justify-content: center;
}

#navbar-inner-container {
    /* border: 1px solid green; */
    width: 100%;
    max-width: 1400px;
    display: flex;
}

#navbar-container > #navbar-inner-container > div{
    width: 50%;
    /* height: 100%; */
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    padding-right: 50px;
}

#navigation-container{
    display: flex;
    justify-content: flex-end;
}

#logo-container{
    padding-left: 55px;
}


#navigation-container > a{
    text-decoration: none;
    color: #555555;
    padding: 5px 20px 5px 10px;
    cursor: pointer;
}

#navigation-container > button{
    padding: 10px;
    color: #00AF32;
    border: 2px solid #00AF32;
    border-radius: 3px;
    font-family: 'Comfortaa', cursive;
    background-color: transparent;
}

#mobile-nav{
    height: 90vh;
    background-color: #ffffff;
    width: 100%;
}

/* Responsive */

@media only screen and (max-width: 600px){

    #navigation-container > a, button{
        display: none !important; 
    }
    #logo-container{
        height: 100%;
        padding-left: 30px !important;
    }
    #navigation-container > i{
        color: #555555;
        font-size: xx-large;
    }

    #logo-container > img{
        height: 50px;
    }
}

@media only screen and (min-width: 600px){
    #navigation-container > i{
        display: none;
    }
}