@font-face {
  font-family: 'HanziPen TC Regular';
  src: url('../../../../assets/fonts/hanzipen-tc-regular.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir';
  src: url('../../../../assets/fonts/Avenir-Book.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Roman';
  src: url('../../../../assets/fonts/Avenir-Roman.woff') format('woff');
}


@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../../../../assets/fonts/AvenirNextCyr-Demi.woff') format('woff');
}

@font-face {
  font-family: 'Grandstander ExtraBold';
  src: url('../../../../assets/fonts/Grandstander-ExtraBold.woff') format('woff');
}

* {
  padding: 0;
  margin: 0;
}
.event-details {
    font-family: "Grandstander", sans-serif;
    background-color: rgba(253, 209, 142, 0.5);
  }
  .event-details-info {
    display: flex;
    width: 75%;
    margin: 0 12.5% 0 12.5%;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #514026;
    line-height: 150%; 
  } 
  .event-info-item {
    display: flex;
    font-family: 'Grandstander ExtraBold';
    justify-content: space-between;
    align-items: center;
    margin: 70px 20px 25px 41px;
    font-weight: 800;
    color: rgba(81, 64, 38, 1);
    width: calc(25% - 5px);
  }

  .event-info-item span {
    color: #514026;
    font-family: 'Grandstander ExtraBold';
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
  }

  .event-icon {
    width: 100px;
    height: 100px;
  }


@media (max-width: 768px) {
  .event-info-item {margin: 0;
  
    padding: 0;
    width: calc(29% - 5px); 
    margin-top: 30px;
    margin-left: 25px ;
    margin-bottom: 40px;
  }
  .event-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 0;
  }
  .event-info-item span {
  
    font-weight: 800;
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .event-info-item {margin: 0;
  
    padding: 0;
    width: calc(32% - 5px); 
    margin-top: 30px;
   
    margin-bottom: 40px;
  }
  .event-icon {
    width: 35px;
    height: 35px;
    margin-bottom: 0;
  }
  .event-info-item span {
  
    font-weight: 800;
    font-size: 10px;
  }
}
@media (max-width: 393px) {
  .event-details-info {
    flex-direction: column;
    align-items: center;
  }

  .event-info-item {
    display: flex;
    margin-left: 15%;
    align-items: center;
    width: 100%;
    font-size: 16px;
    margin-top: 3%;
    color: rgba(81, 64, 38, 1);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
  }

  .event-icon {
    width: 50px;
    height: 50px;
  }
}